<header class="intro">

	<div class="intro-video-wrapper">

		<div class="color-overlay"></div>

		<video class="intro-video" autoplay loop muted>
			<source src="{{site.baseurl}}/assets/vids/intro1.mp4" type="video/mp4">
		</video>

		<div class="intro-title-wrapper">

			<ul class="intro-title"> <li><p class="Ta">t</p></li> <li><p class="A">a</p></li> <li><p class="S">s</p></li> <li><p class="Ti">t</p></li> <li><p class="I">i</p></li> <li><p class="C">c</p></li> <li><p class="E">e</p></li> <li><p class="D">d</p></li> </ul>

		</div>
		
	</div>	

	<a role="button" class="down js-scroll-trigger" data-scroll href="#scroll"><svg class="icon icon-angle-down"><use xlink:href="#icon-angle-down"></use></svg></a>

</header>