<header class="intro">

	<div class="intro-video-wrapper">

		<div class="color-overlay"></div>

		<video class="intro-video" autoplay loop muted>
			{% if post.video-intro %}
			{% capture namespace %}{{ post.id | split:"/" | last }}{% endcapture %}
			<source src="{{ post.intro-vid }}" type="video/mp4">
			{% else %}
			{% capture namespace %}{{ post.id | split:"/" | last }}{% endcapture %}
			<img class="fit-picture" src="{{ post.intro-img }}" alt="Article thumbnail">
			{% endif %}
		</video>
		
	</div>	

	<a role="button" class="down js-scroll-trigger" data-scroll href="#scroll"><svg class="icon icon-angle-down"><use xlink:href="#icon-angle-down"></use></svg></a>

</header>