
<nav class="navbar fixed-top invisible" id="mainNav">
	<div class="container">

		<a class="navbar-brand" data-text="tastic3d" href="/">TASTIC<span class="reverse">E</span><span>D</span></a>

		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<a class="navicon-button"> <div class="navicon"></div> </a>
		</button>

		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"> <a class="nav-link" href="#services">Services</a> </li>
				<li class="nav-item"> <a class="nav-link" href="#work">Work</a> </li>
				<li class="nav-item"> <a class="nav-link" href="#info">Info</a> </li>
			</ul>
		</div>

	</div>
</nav>