<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

	<body ondragstart="return false;" ondrop="return false;">

		{% include nav_page.html %}
		{% include svg-icons.html %}

		<section class="post">
			<div class="container mt-5 mt-lg-0 pt-5">

				<div class="row no-gutters mb-3 mb-lg-5">

					<div class="col-lg-8 offset-lg-2 mt-lg-2">

						<h1>{{ page.title }}</h1>

						{% if page.tags %}
							{% for tag in page.tags %}
								<!-- <a href="{{ site.baseurl }}/tags/#{{tag | slugify }}"></a> -->
								<a href="{{ site.baseurl }}/tag/{{ tag | slugify }}">
									<button type="button" class="btn btn-outline-secondary btn-sm">{{ tag }}</button>
								</a>
							{% endfor %}
						{% endif %}

						{{ content }}

						<em class="page-date mt-lg-4">{{ page.date | date: "%b %-d, %Y"  }}</em>

					</div>

					<!-- Column Right -->
					<div class="col-xl-2 col-lg-2">
					</div>

				</div>
			</div>

		</section>

		{% include footer_page.html %}
		
	</body>
</html>